/* セカンドビュー */
.second_view {
  text-align: left;
  padding-top: 165px;
}
.second_view__title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.second_view__text {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 300;
  max-width: 700px;
  margin: 0 auto;
}

/* 取引パートナー様 */
.partner {
  text-align: center;
  padding-top: 165px;
}
.partner__title {
  font-size: 30px;
  font-weight: bold;
}
.partner__list {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.partner__item {
  height: 140px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

/* 事業内容 */
.business {
  margin-top: 165px;
}
.business__title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.business__text {
  width: 650px;
  margin: auto;
  padding-top: 30px;
  font-size: 18px;
}
.business__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 40px;
}
.business__img {
  width: 180px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.business__name {
  font-weight: 500;
  padding-top: 30px;
}
.business__button_area {
  padding-top: 50px;
  text-align: center;
}
.business__button {
  background-color: #000;
  border-radius: 50px;
  padding: 25px 80px;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
}
.business__button::after {
  content: url("/images/top/icon_triangle_white.svg");
  position: relative;
  top: 5px;
  left: 10px;
  width: 21px;
}


/* 会社情報 */
.company {
  padding-top: 150px;
}
.company_background {
  background-image: url("/images/top/company_info_bg.jpg");
  background-position: 50% 50%;
  height: 700px;
  background-size: cover;
}
.company__title {
  font-size: 30px;
  text-align: center;
  font-family: 'futura_medium_bt';
}
.company__title p {
  font-size: 0.95rem;
  font-family: "ヒラギノ角ゴシック",'NotoSans_Light';
}
.company__text {
  padding-top: 45px;
  width: 510px;
  margin: auto;
  font-size: 0.95rem;
  line-height: 1.625;
  font-family: "ヒラギノ角ゴシック",'NotoSans_Light';
  text-align: justify;
  text-shadow:0 0 10px #FFF;
}
.company__button_area {
  padding-top: 50px;
  text-align: center;
}
.company__button {
  background-color: #000;
  padding: 35px 110px;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}
.company__button::after {
  content: url("/images/top/icon_triangle_white.svg");
  position: relative;
  top: 5px;
  left: 10px;
  width: 21px;
}


/* メディア */
.media {
  padding-top: 75px;
}
.media_background {
  margin-top: 60px;
  background-size: cover;
}
.media__title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.media__button_area {
  padding-top: 70px;
  text-align: center;
}
.media__button {
  background-color: #000;
  border-radius: 50px;
  padding: 25px 80px;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
}

.media__button::after {
  content: url("/images/top/icon_triangle_white.svg");
  position: relative;
  top: 5px;
  left: 10px;
  width: 21px;
}
.media__blog_list {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.media__blog_item {
  width: 32%;
}

.media__blog_item__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  padding-top: 10px;
}
.media__blog_item__tag {
  color: #897E56;
  font-size: 14px;
}
.media__blog_img_layout {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
}
.media__blog_img {
  width: 100%;
}
.media__blog_item__gest {
  font-size: 18px;
}
.media__blog_item__gest::before {
  content: '|';
  margin: 0 10px;
}
.media__blog_item__title {
  padding: 20px 0 5px;
  border-bottom: 1px solid #000;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.media__img_area {
  padding-top: 80px;
  width: 85%;
  margin: auto;
  position: relative;
}
.media__sns_list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
.media__sns_item {
  margin: 0 40px;
}

.media__link_area {
  padding-top: 50px;
}
.media__link {
  display: flex;
  justify-content: center;
}
.media__link::after {
  content: url("/images/top/icon_arrow_black.svg");
  padding-left: 10px;
}

/* ブランドセクション */
.brand {
  padding: 165px 0 75px;
}
.brand__item {
  width: 95%;
  margin: auto;
}

.brand__item--space {
  padding-top: 40px;
}

@media only screen and (min-width: 1100px) {
  .company__button:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    transition: 0.4s;
  }
  .company__button:hover::after {
    content: url("/images/top/icon_triangle_black.svg");
    transition: 0.4s;
  }
  .media__button:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    transition: 0.4s;
  }
  .media__button:hover::after {
    content: url("/images/top/icon_triangle_black.svg");
    transition: 0.4s;
  }
  .media__blog_item:hover {
    opacity: 0.6;
    transition: 0.4s;
  }
  .media__link:hover {
    transition: 0.4s;
    opacity: 0.6;
  }
  .media__sns_item:hover {
    opacity: 0.6;
    transition: 0.4s;
  }
  .media__img:hover {
    opacity: 0.8;
    transition: 0.4s;
  }
  .brand__item:hover {
    opacity: 0.6;
    transition: 0.4s;
  }
  .company__button:hover::after {
    content: url("/images/top/icon_sp_triangle_black.svg");
  }
  .media__button:hover::after {
    content: url("/images/top/icon_sp_triangle_black.svg");
  }
  .business__button:hover::after {
    content: url("/images/top/icon_sp_triangle_black.svg");
  }
  .business__button:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    transition: 0.4s;
  }
  .business__button:hover::after {
    content: url("/images/top/icon_triangle_black.svg");
    transition: 0.4s;
  }
  .business__item {
    margin: 60px 15px 0;
  }
  .business__item:nth-of-type(1) {
    margin-top: 80px;
  }
  .business__item:nth-of-type(2) {
    margin-top: 0;
  }
  .business__item:nth-of-type(3) {
    margin-top: 80px;
  }
  .business__item:nth-of-type(4) {
    margin-top: 0;
  }
  .business__item:nth-of-type(5) {
    margin-top: 80px;
  }
  .media__img_area {
    width: 80%;
    margin-bottom: 100px;
  }
  .media__img_area div{
    bottom: -130px;
    right: -50px;
    height: 400px;
  }
}

@media only screen and (max-width: 1100px) {
  /* セカンドビュー */
  .second_view {
    padding: 75px 5% 0;
  }
  .second_view__title {
    font-size: 19px;
  }
  .second_view__text {
    font-size: 18px;
  }

  /* 取引パートナー様 */
  .partner {
    padding-top: 50px;
  }
  .partner__list {
    padding-top: 30px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .partner__item {
    padding: 0 5%;
    height: 110px;
    margin: 16px;
  }

  /* 事業内容 */
  .business {
    margin-top: 6rem;
  }
  .business__text {
    font-size: 15px;
    width: 90%;
  }  
  .business__list {
    align-items: center;
    flex-flow: column;
    margin-bottom: -260px;
    padding-top: 20px;
  }
  .business__name {
    padding-top: 15px;
  }
  .business__item {
    position: inherit;
    display: inline-block;
  }
  .business__button {
    border-radius: 50px;
    padding: 20px 70px;
    font-size: 13px;
  }
  .business__button::after {
    content: url("/images/top/icon_sp_triangle_white.svg");
    position: relative;
    top: 3px;
    left: 20px;
    width: 12px;
  }
  .business__item:nth-of-type(1) {
    left: 6vw;
  }
  /*
  .business__item:nth-of-type(1)::before {
    content: url("/images/top/business_sp_title.svg");
    position: relative;
    top: 70px;
    right: 45vw;
  }
  */
  .business__item:nth-of-type(2) {
    top: 37vw;
    left: 13vw;
  }
  .business__item:nth-of-type(3) {
    top: 12vw;
    left: 6vw;
  }
  .business__item:nth-of-type(4) {
    top: 47vw;
    left: 13vw;
  }
  .business__item:nth-of-type(5) {
    top: 20vw;
    left: 6vw;
  }
  .business__item:nth-of-type(6) {
    top: 35vw;
    width: 100vw;
  }
  .business__img {
    width: 40vw;
  }

  /* 会社情報 */
  .company {
    padding: 120px 0 100px;
  }
  .company_background {
    background-image: url("/images/top/company_info_bg.jpg");
    height: 650px;
  }  
  .company__text {
    padding: 25px 0 0;
    width: 90%;
    margin:0 auto;
    font-size: 15px;
  }
  .company__button_area {
    padding-top: 20px;
  }
  .company__button {
    padding: 20px 60px;
    font-size: 18px;
    font-weight: bold;
  }
  .company__button::after {
    content: url("/images/top/icon_sp_triangle_white.svg");
    position: relative;
    top: 1px;
    left: 15px;
    width: 12px;
  }

  .company__title {
    font-size: 1.7rem;
  }
  .company__title p {
    font-size: 0.95rem;
  }

  

  /* メディア */
  .media {
    padding-top: 30px;
  }
  .media_background {
    margin-top: 4rem;
  }
  .media__button_area {
    padding-top: 35px;
  }
  .media__button {
    border-radius: 50px;
    padding: 20px 70px;
    font-size: 13px;
  }
  .media__button::after {
    content: url("/images/top/icon_sp_triangle_white.svg");
    position: relative;
    top: 3px;
    left: 20px;
    width: 12px;
  }
  .media__img_area {
    padding-top: 0;
    width: 90%;
    margin: 1.5rem auto 0;
  }
  .media__blog_list {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .media__blog_img_layout {
    width: 320px;
    height: 200px;
  }  
  .media__blog_item {
    width: 300px;
    margin: 0 5%;
    min-height: 320px;
  }
  .media__blog_item__title {
    font-size: 12px;
    padding: 10px 0 5px;
  }  
  .media__blog_item__tag {
    font-size: 12px;
  }
  .media__blog_item__gest {
    font-size: 15px;
  }
  .media__blog_item__gest::before {
    margin: 0 5px;
  }
  .media__sns_list {
    width: 85%;
    margin: 0 auto;
  }
  .media__sns_item {
    margin: 0 15px;
  }

  /* ブランドセクション */
  .brand {
    padding: 75px 0;
  }
  .brand__item {
    width: 100%;
  }
  .brand__item--space {
    padding-top: 20px;
  }
}  
