.slick-prev {
  left: 3% !important;
  z-index: 10;
}
.slick-next {
  right: 6% !important;
  z-index: 10;
}

.slick-slider .slick-prev:before {
  content: url('/images/topslider/prev.svg');
}
.slick-slider .slick-next:before {
  content: url('/images/topslider/next.svg');
}

#__next .slick-dots {
  bottom: -40px;
}

#__next .slick-dots li button:before{
  font-size: 15px;
  color: white;
}

@media only screen and (max-width: 1100px) {
  /*
  .slick-slider .slick-prev:before,
  .slick-slider .slick-next:before {
    content: unset
  }*/
  .slick-next {
    right: 20% !important;
  }
  .slick-prev:before, .slick-next:before{
    opacity: .35 !important;
  }
  /* ul.slick-dots {
    width: 30px;
    bottom: 17px;
    right: 10px;
    background: rgba(255,255,255,0.3);
 }*/
}
